<div class='signUpContainer' id='login'>
    <div class='signUpIn'> 
        <h2>Login</h2>
    
        <form method='POST' action='/auth/login' class='signForm'>
            <!-- <label for='auth-email'>Email</label> -->
            <input type='email' name='email' id='auth-email' placeholder='email' class='fInput'>
        
            <!-- <label for='auth-password'>Password</label> -->
            <input type='password' name='password' id='auth-password' placeholder='password' class='fInput'>
        
            <input type='submit' value='Sign In' class='fSubmit fInput'>
        
        </form>
    </div>
</div>



