<h2> <%= currentUser.name %>'s Profile</h2>

<img src='https://i.etsystatic.com/21069375/r/il/1dd257/2188096140/il_1588xN.2188096140_jzfn.jpg' id='map'>

<div id='calendar'>
    <a href='/profile/calendar'>Check your calendar</a>
    <img src='../../public/images/seasonpic.jpeg'>
</div>

<div id='favs'>
    <a href='/profile/favorites'>See your saved hikes</a>
</div>

<div id='blog'>
    <a href='/profile/blog'>Your blog</a>
</div>