
<nav class='nav'>
    <% if(!currentUser) { %>
        <a href='/' id='name'>
            <div id='nameTitle'>
                HIK<span style='color:rgb(138, 192, 224)'>3</span>
                WASHIN<span style='color:rgb(138, 192, 224)'>6</span>TON
                TRAIL<span style='color:rgb(138, 192, 224)'>5</span>
            </div>
        </a>
        <a href='/auth/signup'>Register</a>
        <a href='/auth/login'>Sign In</a>
    <% } else { %>
        <a href='/' id='name'>
            <div id='nameTitle'>
                HIK<span style='color:rgb(138, 192, 224)'>3</span>
                WASHIN<span style='color:rgb(138, 192, 224)'>6</span>TON
                TRAIL<span style='color:rgb(138, 192, 224)'>5</span>
            </div>
        </a>
        <div class='dropdown'>
            <button class='dropBtn'><a href='/profile'>Profile</a></button>
            <div class='dropdownContent'>
                <a href='/profile/calendar'>Calendar</a>
                <a href='/profile/favorites'>Saved Hikes</a>
                <a href='/profile/blog'>Blog</a>
            </div>
        </div>
        <!-- <a href='/profile'>Profile</a> -->
        <a href='/auth/logout'>Log Out</a>
    <% } %>
</nav>