
<nav class='nav'>
    <% if(!currentUser) { %>
        <a href='/'>Home</a>
        <a href='/auth/signup'>Sign Up</a>
        <a href='/auth/login'>Log In</a>
    <% } else { %>
        <a href='/'>Home</a>
        <div class='dropdown'>
            <button class='dropBtn'><a href='/profile'>Profile</a></button>
            <div class='dropdownContent'>
                <a href='/profile/calendar'>Calendar</a>
                <a href='/profile/favorites'>Saved Hikes</a>
                <a href='/profile/blog'>Blog</a>
            </div>
        </div>
        <!-- <a href='/profile'>Profile</a> -->
        <a href='/auth/logout'>Log Out</a>
    <% } %>
</nav>