<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/app.css">
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap" rel="stylesheet">

    <title>Tis the Szn</title>
</head>
<body>
    <%- include('partials/nav.ejs') %>

    <%- include('partials/alerts.ejs') %>
    <div class='container'>
        <%- body %>
    </div>

    <footer id='footer'>
        <h3 id='sourceH'>Info From:</h3>
        <h4 id='source'>https://www.wta.org/</h4>
    </footer>
</body>
</html>